*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    max-width: 100%;
    height: 100%;
    font-family: serif;
    position: relative;
}

#main{
    background-color: #ffffff;
}

#nav{
    width: 100%;
    height: 15vh;
    position: relative;
}

#nav-1 h1{
    width: 100%;
    height: 60%;
    padding: 1vw 9vw;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 100;
    background-color: #2B2B2B;
    position: relative;
}

/* yha pe jo relative haye vo ky ker rha haye.. aur kaise ~ my theory explains */
a{
    text-decoration: none;
    color: #af501e;
    z-index: 1;
    position: relative;
}

#nav-1 h1::after{
    content: "";
    position: absolute;
    margin-left: 7vw;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 100%;
    background-color: #b75e2e86;
    filter: blur(150px);
}


/* end */

#nav-2{
    width: 100%;
    height: 40%;
    background-color: #E0732C;
    display: grid;
    grid-template-columns: repeat(5,8%);
    align-content: end;
    justify-content: left;
    padding-left: 10vw;
}

#nav-2>h4{
    padding: 0.9vw 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home:hover , #support:hover , #about-us:hover , #blog:hover , #contact-us:hover{
    background-color: white;
}

#home:hover a{
    color: #E0732C;
    
}

#support:hover a{
    color: #E0732C;
    
}

#about-us:hover a{
    color: #E0732C;
    
}

#blog:hover a{
    color: #E0732C;
}

#contact-us:hover a{
    color: #E0732C;
}

#nav-2 a{
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}


/* nav-bar end here */

#page-1{
    width: 100%;
    height: 120vh;
    /* background-color: aqua; */
    padding-left: 9vw; 
    padding-right: 12vw;
    border: 1px solid white; 
}


#header-image{
    margin-top: 1.5vw;
    width: 100%;
    height: 30vh;
    border-radius: 15px;
    background-image: url('./assets/photos/header_image.png');
    background-size: cover;
}


/* content container */

#content{
    margin-top: 4vw;
    padding: 0 3vw;
    width: 100%;
    height: 110vh;
    /* background-color: white; */
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 35% 65%;
    row-gap: 10px;
}

#container-1{
    /* background-color: red; */
}

#container-2{
    /* background-color: green; */
}

#container-3{
    /* background-color: purple; */
}

#container-4{
    /* background-color: red; */
}

/* container-1 inside */

.div-con-h1{
    background-color: #E0732C;
    display: inline-block;
    padding: 2px 23px;
    border-radius: 7px;

}

#content h1{
    display: inline-block;
    font-size: 2vw;
    border-radius: 10px;
}

#content a{
    color: #EA772F;
    text-decoration: underline;
}

.con-h-1{
    color: white;
}

.con-h-2{
    margin-left: 4px;
    color: #2B2B2B;
}

#para-content-1 , #para-content-2 , #para-content-4{ 
    /* background-color: black; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.7;
    font-size: 18px;
}

#para-content-2{
    color:#E0732C;
}


#border-img{
    margin: 1vw;
    width: 94%;
    height: 10vw;
    border: 1px solid rgba(0, 0, 0, 0.345);
    padding: 0.7vh;
}

#content-image{
    width: 100%;
    height: 100%;
    background-image: url('./assets/photos/globe.png');
    
}


#para-content-3{
    width: 100%;
    height: 55%;
    /* background-color: #2B2B2B; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.8;
    font-size: 18px;
}



#para-content-4 ::first-line{
    color:#E0732C;
}

