*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    max-width: 100%;
    height: 100%;
    font-family: serif;
    position: relative;
}

#main{
    background-color: #ffffff;
}

#nav{
    width: 100%;
    height: 15vh;
    position: relative;
}

#nav-1 h1{
    width: 100%;
    height: 60%;
    padding: 1vw 9vw;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 100;
    background-color: #2B2B2B;
    position: relative;
}

/* yha pe jo relative haye vo ky ker rha haye.. aur kaise ~ my theory explains */
a{
    text-decoration: none;
    color: #af501e;
    z-index: 1;
    position: relative;
}

#nav-1 h1::after{
    content: "";
    position: absolute;
    margin-left: 7vw;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 100%;
    background-color: #b75e2e86;
    filter: blur(150px);
}


/* end */

#nav-2{
    width: 100%;
    height: 40%;
    background-color: #E0732C;
    display: grid;
    grid-template-columns: repeat(5,8%);
    align-content: end;
    justify-content: left;
    padding-left: 10vw;
}

#nav-2>h4{
    padding: 0.9vw 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home:hover , #about-us:hover , #blog:hover , #contact-us:hover{
    background-color: white;
}

#support {
    background-color: white;
}

#support h4{
    color: #E0732C;
}

#home:hover a{
    color: #E0732C;
    
}

#about-us:hover a{
    color: #E0732C;
    
}

#blog:hover a{
    color: #E0732C;
}

#contact-us:hover a{
    color: #E0732C;
}

#nav-2 a{
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}


/* page 1 */


#page-1{
    width: 100%;
    height: 150vh;
    /* background-color: aqua; */
    padding-left: 9vw; 
    padding-right: 9vw;
    border: 1px solid white; 
}


#header-image{
    margin-top: 1.5vw;
    width: 100%;
    height: 30vh;
    border-radius: 15px;
    background-image: url('./assets/photos/header_image.png');
    background-size: cover;
}


/* content container */

#content{
    margin-top: 4vw;
    padding: 0 3vw;
    width: 100%;
    height: 110vh;
    /* background-color: white; */
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 35% 65%;
    row-gap: 10px;
}

#container-1 {
    grid-row: 1/3;
}

/* #container-1{
    background-color: red;
}

#container-2{
    background-color: green;
}

#container-3{
    background-color: purple;
}

#container-4{
    background-color: red;
}  */

/* container-1 inside */

.div-con-h1{
    background-color: #E0732C;
    display: inline-block;
    padding: 2px 23px;
    border-radius: 7px;

}

#content h1{
    display: inline-block;
    font-size: 2vw;
    border-radius: 10px;
}

#content a{
    color: #EA772F;
    text-decoration: underline;
}

.con-h-1{
    color: white;
}

.con-h-2{
    margin-left: 4px;
    color: #2B2B2B;
}

#para-content-1 , #para-content-2 , #para-content-4{ 
    /* background-color: black; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.7;
    font-size: 19px;
}

#para-content-2{
    color:#E0732C;
}


#border-img{
    margin: 1vw;
    width: 94%;
    height: 10vw;
    border: 1px solid rgba(0, 0, 0, 0.345);
    padding: 0.7vh;
}

#content-image{
    width: 100%;
    height: 100%;
    background-image: url('./assets/photos/globe.png');
    
}


#para-content-3{
    width: 100%;
    height: 55%;
    /* background-color: #2B2B2B; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.8;
    font-size: 18px;
}

#para-content-1 , #para-content-4{
    color:#2b2b2bbc;
}


#para-content-4 ::first-line{
    color:#E0732C;
}


/* page-2 and footer */


#page-2{
    padding: 0 9vw;
    /* background-color: black; */
    width: 100%;
    height: 40vh;
    display: grid;
    /* background-color: red; */
    grid-template-columns: 34% 33% 28%; 
    justify-content: center;
}

#gallary-1{
    /* background-color: red; */
    background-color:#E27430;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 1vw 3.5vw;
    display: flex;
    flex-direction: column;
}

#images{
    width: 100%;
    height: 100%;
    margin-top: 15px;
    /* background-color: orange; */
    display: grid;
    grid-template-columns: repeat(3 , 150px);
    grid-template-rows: repeat(2 , 120px);
    row-gap: 15px;
    column-gap: 15px;
}

#com-image-1{
    background-image: url('./assets/photos/image_gallary_image1.png');
    border: 2px solid white;
    background-size: cover;
}

#com-image-2{
    background-image: url('./assets/photos/image_gallary_image2.png');
    border: 2px solid white;
    background-size: cover;

}

#com-image-3{
    background-image: url('./assets/photos/image_gallary_image3.png');
    border: 2px solid white;
    background-size: cover;


}

#com-image-4{
    background-image: url('./assets/photos/image_gallary_image4.png');
    border: 2px solid white;
    background-size: cover;

}

#com-image-5{
    background-image: url('./assets/photos/image_gallary_image5.png');
    border: 2px solid white;
    background-size: cover;

}

#com-image-6{
    background-image: url('./assets/photos/image_gallary_image6.png');
    border: 2px solid white;
    background-size: cover;

}

#gallary-1 , #gallary-2 , #gallary-3 h1 {
    color:#2B2B2B;
}

#gallary-2{
    background-color:#E27430;
    padding: 1vw 2.5vw;
}

#con-img{
    width: 100%;
    height: 90%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
}

#con-img-1{
    width: 150px;
    height: 120px;
    border: 2px solid white;
    margin-top: 15px;
    background-image: url('./assets/photos/Screenshot\ from\ 2025-06-24\ 06-15-04.png');
}

#con-img p{
    color: white;
    margin-top: 10px;
    font-size: 20px;    
}


#gallary-3{
    background-color:#E27430;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1vw 2.5vw;
}

#gall-img{
    height: 25%;
    width: 100%;
    margin-top: 10px;
    display: flex;
}

#img-g{
    width: 50%;
    margin-right: 10px;
    height: 80px;
    background-image: url('./assets/photos/Screenshot\ from\ 2025-06-24\ 06-15-04.png');
}

#gall-img p{
    width: 100%;
    height: 100%;
    /* background-color: white;  */
    font-size: 20px;
    color: white;
}

#gallary-3>p{
    font-size: 20px;
    margin-top: 10px;
    color: white;
}


#footer{
    margin-top: 20px;
    padding: 0 15vw;
    width: 100%;
    height: 4vh;
    display: grid;
    grid-template-columns: repeat(5,5%) 75%;
}

#cpy-right{

    /* background-color: black; */
    text-align: end;

}
